{% import_yaml "redis/defaults.yaml" as defaults %}

{% set redis = salt['pillar.get']('redis', default=defaults.redis, merge=True) %}

{## Add any overrides based on OS. ##}
{% set redis = salt['grains.filter_by']({
        'Debian': {
            'package': 'redis-server'
        },
        'CentOS': {
            'package': 'redis'
        }
  }
  ,grain="os"
  ,merge=redis)
%}
